
    <!-- ========================= JS here ========================= -->
    <script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/tiny-slider.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/main.js') }}"></script>
    <script type="text/javascript">
        const current = document.getElementById("current");
        const opacity = 0.6;
        const imgs = document.querySelectorAll(".img");
        imgs.forEach(img => {
            img.addEventListener("click", (e) => {
                //reset opacity
                imgs.forEach(img => {
                    img.style.opacity = 1;
                });
                current.src = e.target.src;
                //adding class
                //current.classList.add("fade-in");
                //opacity
                e.target.style.opacity = opacity;
            });
        });
    </script>
</body>

</html>