{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "admin_header.html" %}
    <!-- Start Item Details -->

    <section class="item-details section">
        <div class="container">
            <div class="top-area">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                        <button class="btn btn-info"><a href="{{url_for('admin_area')}}">Back to admin area</a></button>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% include "admin_footer.html" %}
{% endblock %}